.page1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  box-shadow: 0px 4px 16px 0px #00000033;
  position: relative;
  width: 384px;
  border-radius: 15px;
  padding: 0px;
  border: 1px solid #868686;
}
.img___7Yzyu {
  object-fit: fill;
  max-width: 100%;
  width: 24rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 0.85em 0.85em 0rem 0rem;
  border: 1px none #000000;
}
.img___7Yzyu > picture > img {
  object-fit: fill;
}
.freeBox__optTu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0.5rem;
  min-width: 0;
  padding: 12px 12px 0px;
}
.text__fPKw6 {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 10px;
  font-size: 1.25rem;
  color: #383b3d;
  font-weight: 700;
  font-family: "Inconsolata";
  padding-left: 0px;
}
.text__jKif {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 10px;
  font-size: 1.25rem;
  color: #383b3d;
  font-weight: 700;
  font-family: "Inconsolata";
  margin-bottom: 0.5rem;
  padding-left: 0px;
}
.text___7CFJm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 10px;
  font-size: 1.25rem;
  color: #383b3d;
  font-weight: 300;
  font-family: "Inconsolata";
  margin-bottom: 0.5rem;
  padding-left: 10px;
  min-width: 0;
}
.freeBox__i6ZQp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 12px;
}
.img__cLu1Z {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  margin-right: 5px;
  flex-shrink: 0;
  display: none !important;
}
.img__cLu1Z > picture > img {
  object-fit: cover;
}
.img__qqXo5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  margin-right: 5px;
  flex-shrink: 0;
  display: none !important;
}
.img__qqXo5 > picture > img {
  object-fit: cover;
}
.text___5Blod {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #006db3;
  font-size: 0.875rem;
  font-family: "Inconsolata";
  min-width: 0;
  padding: 0rem 0rem 0rem 0px;
}
.freeBox__cuxe8 {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 10px;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 0px;
}
.img__mgCrh {
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  margin-right: 5px;
  flex-shrink: 0;
}
.img__mgCrh > picture > img {
  object-fit: cover;
}
.text__sGO0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #006db3;
  font-size: 12px;
}
.fintuneButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  display: none;
  margin: 16px 0rem 16px 10px;
}
.svg__ivV99 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__swxE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___81PZp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 12px 12px;
  margin: 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 100%;
  color: #53535300;
  min-height: 0;
}
.img__dp7U {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  cursor: pointer;
}
.img__dp7U > picture > img {
  object-fit: cover;
}
.text__rQtvc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
